############################################################################################################################
##### Activate Features
#Uncomment if needed

#Switch for testing SSH-Connection
#testssh=1

#Backup cron task list
cronbackup=1

#Switch for costum script section
#custom=1

#Cleanup old archives (Needed if you have a pull transfer from backup-server)
#cleanuparchives=1

#Switch for DB-Backup-Feature
#dbbackup=1

#Switch for scp-transfer
#If the node can directly communicate with the backup instance
scptransfer=1
############################################################################################################################

## Environment variables
### For scp-upload the backup archive
ipaddress=<Destination-IP-Address>
port=<Destination-SSH-Port>
scpuser=<Destination-User>
targetdir=<Destination-File-Path>
keyfile=/home/<Username>/.ssh/ed25519_$(cat /etc/hostname)_backup

### For building the archive and steps-before
localdir=/tmp
dbdumpdir=./backup
filename="$zeitstempel"_$(cat /etc/hostname).tar.gz.enc
encryptionkeypath=/backup.key

### For alerting in case of error
telegramtoken=<Telegram-Token>
telegramreceiver=<Telegram-Receiver>

### File-Permissions for better handling the files  
# If you do not change, it will get the executing user user-id and group-id
owneruser=$(id -u)
ownergroup=$(id -g)
#Directories or Files to Backup should be configured in the tar-command directly, because there can be more folders to backup and different count of excludes 
